.DS_Store
**/out/*
**/target/*
.bloop
.metals
.~lock*
mill.*
assets/standards/*
*.pptx
~*.pptx
__pycache__

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.venv/


# Added by cargo

/target
